* {
    box-sizing: border-box;
}
:root{
    --modra: #3498db;
    --barva-pozadi: #fff;
    --barva-text: #000;
    --barva-code-pozadi: rgba(44, 45, 46, 0.15);
}
body {
    font-family: basic-sans, sans-serif;
    font-size: 1.25rem;
    margin: auto;
    width: min(100%, 80rem);
    padding: 1rem;
    text-align: justify;
    line-height: 1.5;
    color: var(--barva-text);
    background-color: var(--barva-pozadi);
    transition: color .5s, background-color .5s;
}
.main {
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    text-shadow: .1em .1em .2em var(--modra);
    margin-block: 1em;
}
h1 {
    margin-top: 0;
}
.sirka {
    text-align: center;
}
section {
    display: grid;
    grid: auto / 200px 1fr;
    grid-gap: 0 2em;
    margin-top: 2em;
}
.section-title {
    grid-column: 1 / 2;
    align-self: flex-start;
    text-align: right;
    position: sticky;
    top: 1em;
}
.section-content {
    grid-column: 2 / 3;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
    height: auto;
    background-color: var(--modra);
}
img + img {
    margin-top: 2rem;
}
.medium, .large {
    display: none;
}

code, .tag, .code-block{
    padding: .2em .4em;
    font-size: .9em;
    border-radius: 6px;
    font-family: monospace;
    background-color: var(--barva-code-pozadi);
}
.tag::before {
    content: '<';
}
.tag::after{
    content: '>';
}
.code-block {
    border-left: .5em solid var(--modra);
    padding-left: 1em;
}
pre {
    overflow: auto;
    display: inline-block;
    width: 100%;
    margin-block: 0;
}
p:first-child{
    margin-top: 0;
}


@media only screen and (min-width: 600px) {
    .medium {
        display: inline;    
    }
    .small, .large {
        display: none;
    }
}

@media only screen and (min-width: 900px) {
    .large {
        display: inline;    
    }
    .small, .medium {
        display: none;
    }
}

@media only screen and (max-width: 1060px) {
    body {        
        padding: 2rem;
    }
    section {
        display: block;
    }
    .section-title {
        position: static;
        text-align: center;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --barva-pozadi: rgb(49, 49, 49);
        --barva-text: rgb(241, 241, 241);
        --barva-code-pozadi: rgba(200, 200, 200, 0.231);
    }
}